$navBgColor: rgb(58, 118, 187);
$navPrimaryColor: rgb(236, 236, 236);
$navLinkHoverBgColor: rgb(108, 134, 199);
$galleryFigcaptionFgColor: rgb(150, 186, 201);
$galleryFigcaptionBgColor: rgb(169, 232, 245);
$contentHeaderFgColor: rgb(6, 71, 78);