@import "./variables";

@media screen and (min-width: 480px) {
    .content {
        display: flex;

        .content-text {
            flex-direction: column;
            flex: 50%;
            width: 50%;
            font-family: "Helvetica Neue", sans-serif;
            font-size: 14px;
            line-height: 24px;
            margin: 0 0 24px;
            text-align: center;
            text-justify: inter-word;
            width: 50%;
            margin: 2%;
            h3 {
                flex-grow: 1;
                text-align: center;
                display: flex;
                flex-direction: column;
                justify-content: center;
                color: $contentHeaderFgColor;
            }
            .content-images {
                display: flex;
                flex-direction: row;
                flex: 1;

                .small-image {
                    display: flex;
                    flex-direction: column;
                    width: 50%;
                    flex-wrap: nowrap;
                    img {
                        height: 5vw;
                        width: 28%;
                        padding: 5%;
                        align-self: center;
                    }
                    p {
                        padding: 4%;
                        text-align: center;
                        text-justify: inter-word;
                        align-self: center;
                        font-size: 1vw;
                    }
                }
            }
        }

        .content-img {
            justify-self: flex-start;
            width: 50%;
            flex: 50%;
            margin: 2%;

            img {
                align-self: center;
                width: 100%;
            }
        }
    }
}

@media screen and (max-width: 480px) {
    .content {
        
        display: flex;
        flex-direction: column;
        
        img {
            width: 50%;
            padding: 5%;
            align-self: center;
        }

        .content-images {
            display: flex;
            width:100%;
            img {
                height: 20vw;
            }
        }
        
    }
    .image-3{
        display: none;
    }
    .content-text {
        order:1;
        padding:2%;
    }
    .content-img {
        display: flex;
        order:0;
        align-self: center;
        width: 90%;
        
        img {
            align-self: center;
            width: 90%;
        }
    }
}

